<div class="p-3">
<h1>{{title}}</h1>
<div class="form w-75">
        <form  method="POST">
            <div class="mb-2">
                <label for="exampleFormControlInput1" class="form-label">Nombre</label>
                <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="" name="nombre_usuario" required>
            </div>
            <div class="mb-2">
                <label for="exampleFormControlInput1" class="form-label">Apellido</label>
                <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="" name="apellido_usuario" required>
            </div>
            <div class="mb-2">
                <label for="exampleFormControlInput1" class="form-label">Email</label>
                <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com" name="email_usuario" required>
            </div>
            <div class="mb-2">
                <label for="exampleFormControlInput1" class="form-label">Nombre de Usuario</label>
                <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="ingrese su usuario" name="nombre_user" required>
            </div>
            <div class="mb-2">
                <label for="exampleFormControlInput1" class="form-label">Password</label>
                <input type="password" class="form-control" id="exampleFormControlInput1" placeholder="máximo 12 caracteres" maxlength="12" name="contraseña_usuario" required>
            </div>
<div class="text-center my-2">

            <input class="btn btn-success" type="submit" value="Registrarse">
</div>
        </form>
    </div>
    </div>