<div class="container-fluid navbar "> 
{{> buscador}}
</div>
<h1 class="text-center">{{title}}</h1>
<h3 class="p-2 text-center">Bienvenidos a <strong>COFFEE SHOP</strong> </h3>
<div class="p-5 pt-2"><p class="m-2">Sucede muchas veces todas las semanas que un cliente recibe una bebida de un barista de nuestros locales. Sin embargo, cada interacción es única.
Ocurre en tan solo un instante: una mano que salva la distancia de la barra para entregar una taza a otra mano tendida.
Pero establece una conexión.</p>
<p class="m-2">Nos aseguramos de que todo lo que hacemos esté a la altura de esa conexión: desde nuestro compromiso con el café de máxima calidad del mundo, hasta la manera de interactuar con nuestros clientes y comunidades para operar de forma responsable.
Desde nuestros comienzos, en un una tienda hace casi cuarenta años, en todos los lugares donde hemos estado, en todos los lugares con los que nos relacionamos, intentamos que todo sea un poco mejor que cuando llegamos.</p>
<p class="m-2">Ahora agregamos esa conexión en nuestra tienda online, para hacer que los mejores blends de café estén al alcance de cada cliente.</p></div>



