<div class="container my-5">
    <h1>{{title}}</h1>
    <hr>

    <form action="" method="post" class="w-50">
        <input required class="form-control my-2 " maxlength="10" type="text" name="usuario" id="" placeholder="ingrese su usuario">
        <input required class="form-control my-2"  type="email" name="emailUsuario" id="" placeholder="ingrese su email">
        <input required class="form-control my-2"  type="password" pattern=".{8,}" maxlength="12" name="contraseñaUsuario" id="" placeholder="ingrese su contraseña">
        <div class="text-end">
            <input type="submit" value="Enviar" class="btn btn-primary">
        </div>
    </form>
    <h6>Si aún no posee una cuentra haga click en <a href="/altaUsuario">Registrarse</a></h6>

</div>
