* {
    padding: 0;
    margin: 0;
}

.navbar {
    background: rgba(49, 17, 17, 0.356) ;
}

img {
    width: 100%;
}

.logo {
    width: 18%;
    padding: 0;
    margin: 0;
}

.limpiar {
    padding-top: 5;
    padding-bottom: 5;
    padding-left: 0;
    padding-right: 0;
    margin: 0;
    width: 100%;
}

.textareas {
    resize: none;
}

.boton {
    padding: 5;
}